.sports-bar {
    width: 120px;
}

.sports-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 200px;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}

.sports-bar li {
    display: block;
    width: 64px;
    height: 64px;
    margin-bottom: 22px;
    background-color: #ffffff;
    border-radius: 6px;
}

.sports-bar span {
    color: white;
    font-weight: 400;
    font-size: small;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    left: 3.8%;
    right: 87.5%;
    bottom: 4%;
}
